body {
    font-size: 8px;
}
td div {
    margin: 0;
    padding: 0;
    display: block;
}
.day {
    background-color: #140750;
    color: #ffffff;
    text-align: center;
    font-size: 10px;
}

.diurno {
    background-color: #A8A8A8;
    color: #ffffff;
    font-size: 10px;
}

.noturno {
    background-color: #ff6961 !important;
    color: #ffffff;
    font-size: 10px;
}

.event {
    border-bottom: 1px solid #DEE2E6;
    width: 100%;
}
.table-user {
    font-size: 9px;
}
.header {
    border-bottom: 1px solid #DEE2E6;
}